.announcement{
    height: 32px;
    background-color: black;
}
.announcement_text{
    text-align: center;
    font-size: 12px;
    font-family: 'Satoshi', sans-serif;
        color: #fff;
}
.announcement_link{
    color: inherit;
    text-decoration:underline
}